:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body * {
  font-family: "Merriweather Sans", sans-serif;
  color: var(--text-color);
}

body {
  background-color: var(--body-bg-color);
  padding: 20px;
}

html {
  font-size: 100%;
}

#wrapper {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}

.cards {
  background-color: var(--bg-cards) !important;
  width: inherit !important;
  border-radius: 20px;
  margin-bottom: 30px;
}

.container-mainaside-section {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.container-aside-section {
  width: 320px;
  margin-right: 35px;
  margin-left: 30px;
}

.aside-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2rem 0px;
  border-radius: 20px;
}

/* Logo Image*/
.aside-logo-container img {
  width: 148px;
  height: 148px;
  margin-bottom: 2rem;
  border-radius: 50%;
}

.aside-logo-container svg {
  width: 148px;
  height: 148px;
  margin-bottom: 2rem;
  border-radius: 50%;
}

.aside-logo-container h3 {
  margin-bottom: 0.68rem;
}

.container-list-informations {
  list-style: none;
  padding: 30px 40px;

  height: 348px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-list-informations li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.container-list-informations li svg {
  margin-right: 17px;
}

.title-cards-aside {
  width: 100%;
  font-size: 1.25rem;

  padding: 30px 20px;
}

.container-techs-style {
  background-color: var(--bg-techs);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  border-radius: 30px;

  font-size: 10px;
  padding: 7px 6px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.container-techs-style h4 {
  color: #000000;
  font-weight: 900;
}

.container-grid-sections {
  width: 100%;
  padding: 0 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;

  padding-bottom: 30px;
}

.aside-techs-container {
}

.container-aside-experiences {
  padding-bottom: 1rem;
}

.container-experiences-details {
  margin-left: 50px;
}

.item-experiences-details {
  display: flex;
  flex-direction: column;
  justify-content: initial;

  margin-bottom: 1rem;
}

.item-experiences-details h3 {
  font-weight: 900;
  font-size: 14px;

  position: relative;
}

.item-experiences-details h3::after {
  content: " ";

  width: 5px;
  height: 5px;
  border-radius: 50%;

  position: absolute;
  left: -1rem;
  top: 0.3rem;

  background-color: var(--bg-techs);
}

.item-experiences-details span {
  font-size: 12px;
}

/* Inicio Aba Direita  */
.container-main-lateral {
  width: 952px;
  max-width: 60%;
  margin-right: 30px;
}

.lateral-allmyprojects-container {
  max-width: 952px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 30px;
  border-radius: 20px;

  background-color: var(--bg-cards);
}

.lateral-allmyprojects-container {
  font-size: 0.875rem;
}

.container-projects-github {
  display: flex;
  justify-content: baseline;
  gap: 2rem;

  overflow: hidden;
  scroll-behavior: smooth;
  overflow-x: visible;

  padding-bottom: 1rem;

  scroll-snap-type: x mandatory;

  margin-bottom: 2rem;
}

.projects-github {
  scroll-snap-align: start;

  min-height: 186px;
  min-width: 461px;

  background-color: var(--bg-cards);
  margin-top: 2rem;
  border-radius: 20px;

  padding: 30px;
}

.project-container-nameProject {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.project-container-nameProject svg {
  margin-right: 1rem;
}

.project-paragraf-description {
  margin-bottom: 2.3rem;
  font-size: 0.875rem;
}

.project-container-anotherInfos {
  display: flex;
  justify-content: space-between;
}

.project-container-starAndForks {
  display: flex;
  justify-content: space-between;
}

.project-starsQttd {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.project-starsQttd svg {
  margin-right: 0.5rem;
}

.project-forkQttd {
  display: flex;
  align-items: center;
}

.project-forkQttd svg {
  margin-right: 0.5rem;
}

.project-typeProject {
  display: flex;
  align-items: center;
}

.circle-yellow {
  width: 15px;
  height: 15px;

  background-color: #e7de79;
  outline: #837e9f 2px solid;

  border-radius: 50%;
  margin-right: 0.5rem;
}

.lateral-RecentPosts-container {
  height: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 30px;
  border-radius: 20px;

  background-color: var(--bg-cards);
}

.lateral-Post-container {
  padding: 30px;
  background-color: var(--bg-cards);
  margin-top: 2rem;
  border-radius: 22px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.lateral-Post-container img {
  width: 9.25rem;
  height: 9.25rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.lateral-Post-container-descriptions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.lateral-Post-container-descriptions h5 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.lateral-Post-container-descriptions span {
  margin-bottom: 25px;
}

.lateral-Post-container-descriptions > p {
  margin-bottom: 12px;
}

.description-container-hashtags {
  display: flex;
}

.description-container-hashtags span {
  margin-right: 10px;
}

@media (max-width: 1024px) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 940px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 856px) {
  html {
    font-size: 100%;
  }

  .container-mainaside-section {
    flex-wrap: wrap;
  }

  .container-main-lateral {
    width: initial;
    max-width: 100%;
    margin-right: 30px;
  }

  .container-main-lateral {
    width: initial;
    max-width: 100%;
    margin-right: unset;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .container-projects-github {
    width: 100%;
  }

  .lateral-RecentPosts-container {
    margin-top: 7rem;
    margin-bottom: 1rem;
  }

  .lateral-allmyprojects-container {
    margin-top: 7rem;
    margin-bottom: unset;
  }

  .container-aside-section {
    width: auto;
    margin-right: unset;
    margin-left: unset;
  }
}

@media (max-width: 638px) {
  html {
    font-size: 90%;
  }

  .lateral-Post-container {
    width: 100%;
    flex-direction: column;
  }

  .lateral-Post-container img {
    margin-bottom: 3.5rem;
  }
}

@media (max-width: 470px) {
  html {
    font-size: 70%;
  }

  .container-aside-section {
    width: auto;
    margin-right: unset;
    margin-left: unset;
  }
}
