@media (max-width: 1024px) {
    html {
      font-size: 90%;
    }
  }
  
  @media (max-width: 940px) {
    html {
      font-size: 80%;
    }
  }
  
  @media (max-width: 856px) {
    html {
      font-size: 100%;
    }
  
    .container-mainaside-section {
      flex-wrap: wrap;
    }
  
    .container-main-lateral {
      width: initial;
      max-width: 100%;
      margin-right: 30px;
    }
  
    .container-main-lateral {
      width: initial;
      max-width: 100%;
      margin-right: unset;
  
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  
    .container-projects-github {
      width: 100%;
    }
  
    .lateral-RecentPosts-container {
      margin-top: 7rem;
      margin-bottom: 1rem;
    }
  
    .lateral-allmyprojects-container {
      margin-top: 7rem;
      margin-bottom: unset;
    }
  
    .container-aside-section {
      width: auto;
      margin-right: unset;
      margin-left: unset;
    }
  }
  
  @media (max-width: 638px) {
    html {
      font-size: 90%;
    }
  
    .lateral-Post-container {
      width: 100%;
      flex-direction: column;
    }
  
    .lateral-Post-container img {
      margin-bottom: 3.5rem;
    }
  
    .projects-github {
      min-height: 186px;
      min-width: 270px;
    }
  
    .project-container-anotherInfos {
    }
  
    .project-forkQttd {
      margin-right: 1rem;
    }
  
    .container-projects-github {
      gap: 0.275rem;
    }
  }
  
  @media (max-width: 470px) {
    html {
      font-size: 70%;
    }
  
    .container-aside-section {
      width: auto;
      margin-right: unset;
      margin-left: unset;
    }
  }